<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Convert SPT to NetCDF</title>
</head>
<body>
    <h1>Convert SPT to NetCDF</h1>
    
    {% if message %}
        <p style="color: green; font-weight: bold;">{{ message }}</p>
    {% endif %}

    <form id="convertForm" action="/convert_spt" method="post" enctype="multipart/form-data" onsubmit="submitForm(event, 'convertForm')">
        <label for="spt_files">Select SPT Files:</label>
        <input type="file" id="spt_files" name="spt_files" accept="*_SPT.txt" multiple required>
        <br><br>

        <p style="font-weight: bold; color: blue;">Output Folder: converted_nc_files</p>
        <br><br>

        <input type="submit" value="Convert">
    </form>
</body>
</html>
